<nav class="navbar">
    <div class="navbar-section navbar-first-section">
      <img src="/assets/img/user-icon-navbar.png" alt="User Icon">
      <p>John Doe</p>
      <p>CC 1234567890</p>
      <p>Médico General</p>
    </div>
    <hr class="navbar-divider">
    <div class="navbar-section navbar-second-section" >
      <div class="subsection">
        <h3>Citas y Turnos</h3>
        <a href="#">Consultar mis citas</a>
        <a href="#">Consultar mis turnos</a>
      </div>
      <div class="subsection">
        <h3>Pacientes</h3>
        <a href="#">Consultar mis pacientes</a>
        <a href="#">Generar solicitud/petición</a>
        <a href="#">Generar incapacidad</a>
      </div>
      <div class="subsection">
        <h3>Historias Clínicas</h3>
        <a routerLink="/doctor/med-record-creation">Crear nueva historia clínica</a>
        <a routerLink="/doctor/med-record-consultation">Consultar historias clínicas</a>
      </div>
    </div>
  </nav>
  